* {
  /* border: 1px solid yellow; */
}
.islamic-badge {
  @apply bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded;
}
.bronze-badge {
  @apply bg-yellow-200 text-yellow-800 text-xs font-semibold px-2.5 py-0.5 rounded;
}
.silver-badge {
  @apply bg-gray-200 text-gray-800 text-xs font-semibold px-2.5 py-0.5 rounded;
}
.gold-badge {
  @apply bg-yellow-300 text-yellow-800 text-xs font-semibold px-2.5 py-0.5 rounded;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
